.users {
  border: 1px solid #ccc;
  width: 32%;
  padding: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: 0.5s;
}
.users:hover {
  background-color: rgba(249, 186, 70, 0.73);
  cursor: pointer;
}
.userInfo > h3 {
  color: #000;
}
.userBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.userBtns > button {
  padding: 0.5rem;
  cursor: pointer;
  /* color: #372C3E; */
  color: #823545;
}
